<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84116326670-qtkku6ak1gpbeavjm5prcs8pkj5q0p9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84116326670-qtkku6ak1gpbeavjm5prcs8pkj5q0p9e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84116326670-lblhsnko98rkdm7eqe4jed077ir10sag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCJbC9InI0T9dtOXKTWi2eAossOp0VYDC0</string>
	<key>GCM_SENDER_ID</key>
	<string>84116326670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iobotics.innovationchallange</string>
	<key>PROJECT_ID</key>
	<string>piliplay-8958f</string>
	<key>STORAGE_BUCKET</key>
	<string>piliplay-8958f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84116326670:ios:a462ee81cad310075e2f5f</string>
</dict>
</plist>